[Unit]
Description=Temperature checker
Wants=supervisor.service

[Service]
ExecStart=/usr/bin/temp-check-service
Restart=always

[Install]
WantedBy=multi-user.target
